@import url('../../../../../assets/css/globalStyle.css');

/* header div.container div#container-top{
    display: flex;        
} */

.background-modal{
    display: none;  
    z-index: 0;
}
/* 
div.background-modal .container{          
    flex-direction: row;
    justify-content: center;     
}

.close-modal img{
    width:var(--sm-icon-width);
}


#register-things-button{
    margin-top: 10px;
    width: 25px;
    height: 25px;    
    text-align: center;
    line-height: 14.5px;
    align-self: self-end;
} */


