@import url("./assets/css/globalStyle.css"); 

.background-modal{
    display: none;  
    z-index: 0;
}

div.background-modal .container{          
    flex-direction: row;
    justify-content: center;     
}

/* header .container {        
    flex-direction: row;
    justify-content: space-between;    
} */

main .container, .container-header{
    gap:10px;
}    

main .container-header{
    display: flex;    
    justify-content: space-between;      
    flex-direction: column;   
}

.things-list figure figcaption .thing-header span:nth-child(1){
    display: none;
}
main .container-header .filter-struct{
    display: flex;
    justify-content: space-between;
}

main div.container-header div.filter-things{
    display: flex;     
    gap: 8px;
    background-color: rgb(41, 38, 38);
    padding: 3px;     
    border-radius: 15px;  
}
.filter-things span{
    padding: 0px 8px; 
    cursor: pointer;   
}

.filter-things span[status="1"]{
    background-color: rgb(239, 244, 244);
    border-radius: 15px;  
    
}

footer{
    min-height: 10vh;        
}
   
.categories-panel{    
    background-color: var(--background-color); 
    border-radius: 5px;
    width: var(--containers-width);
       
}

.categories-panel ul{
    display: flex;
    gap: 3.33px;    
    text-align: center;  
    justify-content: space-between;
}

.categories-panel ul li{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 4px;   
}

.categories-panel ul li span{
    font-size: 12px;
    font-weight: 600px;
}

.categories-panel ul li a{
    display: flex;
    align-items: center;
    justify-content: center;    
    
}

.categories-panel ul li a span.material-symbols-rounded{
    font-size: 35px;
}

.categories-panel ul .active{
    background-color: rgb(210, 182, 182);
    padding: 3px;
    color: rgb(211, 211, 211);
    font-weight: bold;
}

#categories-list a{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5); 
} 

a .material-symbols-rounded{
    width: 100%;
    height: 100%;
}
