@import url('../../../../assets/css/globalStyle.css');

table.categories-list tbody tr{        
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #888;

}

table.categories-list tbody td{
    border: 0px solid #6d6868;
    padding: 5px;    
}

input[value]{
    border: none;
    outline: none;
}

#register-categories-button{
    margin-top: 15px;
}

.success-message{
    background-color: rgb(75, 161, 75);
    padding: 10px;
    color: rgb(233, 238, 241);
    margin-top: 20px;
    border-radius: 4px;
    display: none;
}