<!DOCTYPE html>
<html lang="pt-br">
<head id="login-page">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" />
    
    <title>Login</title>
</head>

<body>    
        <header> 
            <div class="container">          
                <div class="logo">
                    <a href=""><img src="../../../../assets/imgs/logo.png"  alt="Achaí"/>  </a></br><br>
                 </div>
            </div>
        </header>

            <main>
                <div class="conteiner">
                    <form id="form">
                        <label>Usuário</label></br>
                        <input type="text" name="user"  id="user" placeholder="Admin"/></br></br>

                        <label>Senha</label></br>
                        <input type="password" name="password" id="password" placeholder="Senha" /></br></br>
                        <span id="recover-password-button">Quer alterar a senha? </a><br><br>
                            
                        <button name="confirm-button" id="confirm-button" >Entrar</button>                              
                    </form>
                </div> 
            </main>

        <script type="module" src="index.js"> </script>
        <script type="module" src="../../../../assets/js/utilities.js"></script>
       
</body>

</html>