@import url("./variables.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;   
    list-style: none;
    font-size: var(--font-size);      
    color: var(--font-color);
}

header, main, footer{
    display: flex;  
    justify-content: center;
}
header{
  padding-top: 20px;
  padding-bottom: 15px;
}

main{
  min-height: 20vh;
  
}

.container {
    display: flex;    
    flex-direction: column;
    min-width: var(--containers-width);
    
}

.logo img {
    width: 60px;
}

#search-button {
    width: 24px;
    margin-left: 200px;
}
#search-icon{
  width: 24px;
}

.sandwich-menu-button img {
    width: 26px;
}

/* related to modal screens */

/* all modal */

div.background-modal{    
  position: absolute;  
  width: 100%;
  height: 100%;
  z-index: 1;  
  background-color: var(--modal-background-color);
}

div.background-modal div.container {
  display: flex;
  justify-content: center;
  height: 100%;  
}
  
#exit-modal-button:hover{
  cursor: pointer;
  background-color: rgb(153, 148, 148);
}

/* thing list*/

.things-list {
  display: flex;
  flex-direction: column;
}

.things-list figure{
  min-height: var(--object-box-height);
  display: flex;
  cursor: pointer;

  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); 
  margin-top: 10px; 
  border-radius: 10px;

}

.things-list figure div{
  width: var( --object-img-width);    
  margin: 8px 0px 8px 8px;
}

.things-list figure div img{
  width: 100%;
  border-radius: 5px;
}

.things-list figure figcaption{
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.things-list figure figcaption span:nth-child(1){
  margin-bottom: 30px;    
}

/* modal with camera */
video:hover{
  cursor: pointer;
}

canvas{
  display: none;
}

.take-picture video, #img-picture{
  width: 320px;
}

#take-picture-button:hover{
  cursor: pointer;
  background-color: rgb(153, 148, 148);
}

#choose-picture-button:hover{
  cursor: pointer;
  background-color: rgb(153, 148, 148);
}

#img-picture{
  display: block;
  cursor: pointer;
}

label.picture{
  cursor: pointer;
}

input#image-address{
  display: none;
}  

/* modal search*/

#search-modal{
  margin-top: 40px;
  display: flex;    
  flex-direction: column;    
}
.search-bar-modal{   
  display: flex;    
  width: 280px;   
  justify-content: space-between; 
  padding: 3px;   
  background-color: var(--background-color);
  border-radius: 5px;
}

#search-button:hover{
  cursor: pointer;
}

input#search-item{     
  width: 100%;
  height: 30px;
  border: none;
  padding-left: 3px;
}

img#search-icon{  
  
  width: 30px;
  background-color: var(--background-color);
}

footer .container span{
  text-align: center;
}

