<!DOCTYPE html>
<html lang="pt-br">
<head class = "restricted-admin">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" />  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> 
    
    <title>Painel de Controle</title>
</head>

<body class="body">     
    <div class="background-modal">        
        <div class="container">
            <div id="search-modal">                
                <span>
                    <div class="search-bar-modal">                        
                        <input type="text" id='search-item' placeholder="Ex: garrafa amarela"/>
                        <img id="search-icon" src="../../../../assets/imgs/lupa.png" alt="pesquisa é realizada automaticamente ao digitar">  
                    </div>
                </span><br> 
            </div>

            <div class="sandwich-menu">                
                <div class="sandwich-menu-body">
                   
                    <div class="close-modal"> 
                        <img src="../../../../assets/imgs/fechar.png" alt="Fechar menu">
                    </div>
                                      
                    <div class="body-modal">
                        <!-- <div> <img src="" alt=""></div> -->
                        <div> 
                            <h3>Administrador</h3> 
                            <h4>example@gmail.com </h4>
                            <button class="profile-button"> Gerenciar perfil </button>                            
                        </div>
                        <br>
                    </div>
                    <div class="modal-task">
                        <ul>
                            <li> <img src="" alt=""> <a class="returned-things-button">Devolvidos</a></li>
                            <li> <img src="" alt=""> <a class="discard-things-button"> Descarte</a> </li>
                            <li> <img src="" alt=""> <a class="category-manager-button">Editar categorias</a></li>                             
                            <br>
                            <li id="exit-button">Sair</li>
                        </ul>
                    </div>
                </div>                
            </div>

        </div>
        
    </div>
    
    <header>
        <div class="container">
            <div class="logo">
                <a href="achai/src/views/admin/panel/"><img src="../../../../assets/imgs/logo.png" alt="Achaí"/></a></br>            
            </div>  

            <div class="search-bar">              
                 <!-- <img id="search-button" src="../../../../assets/imgs/lupa.png" alt="Pesquisar botão"> -->
                 <span id="search-button"  class="material-symbols-rounded">search</span>
                
            </div>
                          
            <div class="sandwich-menu-button">                
                <span class="material-symbols-rounded">menu</span>
            </div>

        </div>
    </header>
    
    <main>        
        <div class="container">
            <section class="panel-buttons">    
                    <ul>                        
                        <li>
                            <a class="register-thing-button">                                 
                                <span class="material-symbols-rounded">box_add</span>
                                <span>Cadastrar<br> objetos</span>                                
                            </a>
                        </li>
                        <li>
                            <a class="returned-thing-button">
                                <span class="material-symbols-rounded">qr_code_scanner</span>
                                <span>Confirmar <br> retirada</span>
                               
                            </a>
                        </li>
                        <li>
                            <a class="manage-things-button">
                                <span class="material-symbols-rounded">box_edit</span>
                                <span>Gerenciar <br> objetos</span>
                               
                            </a>
                        </li>
                    </ul><br>                  
                               
            </section>

            <section>   
                <h1>Objetos reservados</h1>     
                <div class="things-list">                    
                </div>            
            </section>            
                
        </div>    
        
    </main>

    <footer>
        <div class="container"></div>
    </footer>

    <script type="module" src="index.js" ></script>
    <script type="module" src="../../../../assets/js/utilities.js"></script>
</body>
</html>