@import url('../../../../../assets/css/globalStyle.css');

.things-list figure{
    cursor: auto;
}

#files-zip-button{
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    padding: 7px 6px;    
}