@import url('../../../../../assets/css/globalStyle.css');

.background-modal{
    display: none;
}

.things-list figure{
    cursor: auto;
}

#files-zip-button{
    align-self: self-start;
    margin-bottom: 10px;
}

#files-zip-list div{
    display: flex;
}

#delete-button{
    cursor: pointer;
}