@import url("../../../../../assets/css/globalStyle.css");

body{
  position: relative;
}
div.background-modal{
  left: 0px;  
  top: 0px;
}

div.background-modal .container{
  flex-direction: row;
  justify-content: center;    
}

div#img-register-modal{
    position: fixed;
    bottom: 0px;
    background-color:var(--background-color);
    width: 320px;   
    min-height: 200px; 
}

form#form{
  height: 60vh;  
}
