@import url("../../../../../assets/css/globalStyle.css");
body{
  height: 100%;
}

.background-modal{
  display: none;
}
.cam-modal{
  display: flex;
  flex-direction: column; 
}

.cam-modal video{
  width: 320px;
  height: 320px;
}

div.background-modal .container{
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}
div.background-modal .sandwich-menu-body{
  display: none;

}

div#img-register-modal{
    /* position: fixed;
    bottom: 0px; */
    background-color:var(--background-color);
    width: 320px;   
    min-height: 100px; 
}

