@import url("../../../../../assets/css/globalStyle.css");

form#first-form div{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

form#first-form div #code{
    font-weight: 600;
    font-size: 12px;
    color:var(--gray-color);
}

form#email-form span{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#send-email-modal{
    display:none;           
}
div.background-modal{
    padding: 20px
}
.background-modal{
    display: none;
}
 #qrcode-modal{  
    display: flex;     
    justify-content: center;
    background-color: var(--background-color);
    align-self: center;    
    flex-direction: column;    
    align-items: center;
    height: 177px;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;    
}



textarea#message-body{
    display:none;
}